<?php use \Tuanduimao\Loader\App as App; ?>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="stylesheet" href="<?=\Tuanduimao\Conf::G("general/static")?>/sm/css/sm-extend.min.css">
	<link rel="stylesheet" href="<?=\Tuanduimao\Conf::G("general/static")?>/sm/css/sm.min.css">
	<link rel="stylesheet" href="<?php echo APP::SR('/static/');?>/css/smdiy.css">
	<link rel="stylesheet" href="<?php echo APP::SR('/static/');?>/css/iconfont.css">
	<script type='text/javascript' src='<?=\Tuanduimao\Conf::G("general/static")?>/sm/js/zepto.js' charset='utf-8'></script>
	<script type='text/javascript' src='<?=\Tuanduimao\Conf::G("general/static")?>/sm/js/sm.js' charset='utf-8'></script>




	


