<?php use \Tuanduimao\Loader\App as App; ?>
<div class="block block-content remove-padding" style="height:auto;">
    <div 
            id="right-sencond"
            class="block block-slider block-left " 
            data-offset='80'
            option-autoclose='0'
            option-duration='800'
            style="margin:0px;" 
    ></div> 
    <ul class="nav nav-tabs nav-tabs-alt"  data-toggle="tabs">
        <li class="active"> 
            <a id="tabs-all" href="#tabs-content-all"  class="font-w300 tabs-menu"  data-remote="" ><i class="fa  fa-th-list"></i>添加任务
            </a>
        </li>
        <li class="pull-right create_close">
            <a id="tabs-close" href="#"  class="font-w300 tabs-menu create_close">关闭
            </a>
        </li>  
    </ul>
    <!-- TAB内容开始 -->
    <div class=" tab-content">
        <div class="tab-pane hide" id="tab-pane-error" >
            <div class="alert alert-danger push-50-l push-50-r push-20-t ">
                <h3 class="font-w300 push-15">载入失败</h3>
                <p>{HTML}</p>
            </div>
            <div class="row"  style="min-height:300px;" ></div>
        </div>

        <!-- 创建右侧弹出 表单 -->
        <div class="tab-pane active" id="tabs-content-all">
                <div class="content">
                    <form class="form-horizontal push-10-t js-panel-create" action="<?=App::NR('TaskData','save')?>" method="post">
                        <div class="form-group">
                            <div class="col-sm-6">
                                <!-- 任务名称 -->
                                <div class="form-material">
                                    <input class="form-control" type="text" id="name" name="name" placeholder="请填写任务名称">
                                    <label for="material-text">任务名称 <span class="mustbe">*</span></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <!-- 发送方式 -->
                                        <div class="form-material">
                                            <select class="form-control message-type" id="type" name="type" required>
                                                <option value="">请选择</option>
                                                <option value="mail">邮件</option>
                                                <option value="sms">短信</option>
                                            </select>
                                            <label for="material-text">邮件类型 <span class="mustbe">*</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6">
                                <!-- 发送范围 -->
                                <div class="form-material">
                                    <input class="form-control" type="text" id="scope" name="scope" placeholder="请填写用户范围">
                                    <label for="material-text">目标用户范围 （输入关键词，多个用 "," 分隔 ） <span class="mustbe">*</span></label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <!-- 开始日期 -->
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <input  id="ID_14714387443454429" name="data"
                                            type="text"  class="form-control"  placeholder="<?php echo date('Y-m-d',time());?>"  
                                            data-date-format="yyyy-mm-dd"
                                            value="">
                                            <label class="title" for="mediaTitle">开始日期 <span class="mustbe">*</span></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <!-- 开始日期 -->
                                    <div class="col-md-12">
                                        <div class="form-material">
                                            <input id="expires_at" name="time" id="time" class="js-masked-datetime form-control" placeholder="HH:ii:ss" type="text" aria-invalid="false" value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-10">
                                <!-- 任务名称 -->
                                <div class="form-material">
                                    <input class="form-control" type="text" id="title" name="title" placeholder="请填写任务名称">
                                    <label for="material-text">标题 <span class="mustbe">*</span></label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <span style="color:#337ab7;cursor:pointer" data-toggle="modal" data-toggle="block-group" data-block="#material-create" class="open">从素材库中选择&nbsp;>>></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="form-material">
                                    <label for="material-textarea-large">正文 <span class="mustbe">*</span></label>
                                    <pre id="editor" style="height:400px;" name="content"></pre>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <!-- 保存 -->
                                <div class="col-xs-3">
                                    <div class="form-material">
                                        <button class="btn btn-minw btn-primary pull-left" type="submit">保存</button>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        <!-- 创建右侧弹出表单结束 -->
    </div>
</div>

<script src="<?=APP::$APP_HOME_STATIC?>/static/js/src-noconflict/ace.js" type="text/javascript" charset="utf-8">
</script>
<script type="text/javascript">
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/markdown");
    editor.setShowPrintMargin(false);   

    $(function(){
        App.initHelpers('block-group', {});
    });
    
    $(function(){

        // 打开发送任务(修改)
        $('.open').click(function(){
            $.post("<?=App::NR('TaskPanel','select')?>",{type : 'cre'},function(data) {
                    $('#right-sencond').open();
                    $('#right-sencond').html(data);
            });
        })
    })
    // 表单验证
    $(function(){
        
        $('.js-panel-create').validate({
            errorClass: 'help-block text-right animated fadeInDown',
            errorElement: 'div',
            errorPlacement: function(error, e) {                
                jQuery(e).parents('.form-group .form-material').append(error);
            },
            highlight: function(e) {
                jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error').addClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },
            unhighlight:function(e){
                jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },
            success: function(e) {
                jQuery(e).closest('.form-group .form-material').parent().removeClass('has-error');
                jQuery(e).closest('.help-block').remove();
            },

            submitHandler: function(form) {

                var self = this;
                // 把from提交的内容进行截断,调用UserDataSubmit方法;
                DataSubmit(self,form,function callback(){
                    App.notify( '操作成功' );
                    App.loading().hide()
                    setTimeout(window.location.reload(),3000);
                });
            },
            rules: {
                type : "required",
                'name': {
                    required: true,
                    minlength: 2,
                    maxlength: 200,
                },
                'scope': {
                    required: true,
                    minlength: 2,
                    maxlength: 20000,
                },
                'data' : {
                    required: true,
                },
                'time' : {
                    required: true,
                },
                'title': {
                    required: true,
                    minlength: 2,
                    maxlength: 200,
                },
            },
            
            messages: {
                type : "请选择类型",
                'name': {
                    required: '请填写标题名',
                    minlength: '标题名不能少于2个字',
                    maxlength: '标题名不能超过200个字',
                },
                'scope': {
                    required: '请填写标目标用户范围',
                    minlength: '目标用户范围不能少于2个字',
                    maxlength: '目标用户范围不能超过200个字',
                },
                'data' : {
                    required: '请填写用户日期',
                },
                'time' : {
                    required: '请填写时间',
                },
                'title': {
                    required: '请填写标题',
                    minlength: '标题不能少于2个字',
                    maxlength: '标题不能超过200个字',
                },
            },
        });

    })
    
    // 时间限定
    $(function(){
        App.initHelpers(['masked-inputs','tags-inputs','select2','ajax-confirm','ajax-submit']);
        $('.js-masked-datetime').mask("99:99:99",{placeholder:"HH:ii:ss"});
    })
    // 关闭
    $(function(){
        $('.create_close').click(function() {
             $('#customer-create').close();
        });
    })
    
    $(function () {
        // 设定 DatePicker Option
        jQuery.fn.datepicker.dates['zh-cn'] = {
            days: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            daysShort: ["周日", "周一", "周二", "周三", "周四", "周五", "周六"],
            daysMin: ["日", "一", "二", "三", "四", "五", "六"],
            months: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            monthsShort: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
            today: "今天",
            clear: "清空",
            format: "yyyy-mm-dd",
            titleFormat: "yyyy-mm", /* Leverages same syntax as 'format' */
            weekStart: 1
        };
        
        // 初始化 ID_14714387443454429 (#ID_14714387443454429) DatePicker
        try{ 
            jQuery('#ID_14714387443454429').datepicker({
                weekStart: 1,
                autoclose: true,
                todayHighlight: true,
                language:'zh-cn'
            });
        }catch(e){
            console.log('DatePicker(ID_14714387443454429)  Error:',  e);
        }
    });

    /**
     * 提交表单 
     * @param {[type]} validation [description]
     * @param {[type]} form       [description]
     */
    function DataSubmit( validation, form , callback ) {
        App.loading({message:'正在储存...'}).show();
        var api = $(form).attr('action');
        var next = $(form).attr('data-next');
        var submits = $('button[type="submit"]', form);


        $(submits).attr('disabled', 'disabled');
        $(submits).addClass('disabled');

        var data = {};

        var formData =  $(form).serializeArray();
        for( var i=0; i<formData.length; i++ ) {
            var name = formData[i]['name'];
            var value = formData[i]['value'];

            if (value !== "") {
                data[name] = value;
            }
        }

        var editor = ace.edit("editor");
        // markdown数据进行数据处理
        data['content'] = editor.getValue();

        data = jQuery.extend(data, {});

       $.post( api, data, function(data, textStatus, xhr) {

            $(submits).removeAttr('disabled');
            $(submits).removeClass('disabled');

            if (data['result']==false){

                App.notify( '操作失败'+data['content'], 'fa fa-times','danger');
                return;
            };
            callback();
            return;

        },'json')

    }
</script>
<style>
    .mustbe{
        color: red;
    }
</style>